@using Microsoft.AspNetCore.Mvc
@using TicTacToe.Models
@using TicTacToe.Extensions
@using BlazorServerApp.Data
@inject TicTacToeService tictactoesvc

<div>@gameheader</div>
<div id="@ID" class="game">
    @for (int r = 0; r < @GridSize; r++)
    {
        <div class="gamerow">
            @for (int c = 0; c < GridSize; c++)
            {
                int i = r * GridSize + c;
                
                List<string> cssClasses = new List<string>() { "gamecell" };
                
                if (r == 0)
                    cssClasses.Add("firstrow");
                else if (r == GridSize -1)
                    cssClasses.Add("lastrow");
                else
                    cssClasses.Add("midrow");

                if (c == 0)
                    cssClasses.Add("firstcol");
                else if (c == GridSize - 1)
                    cssClasses.Add("lastcol");
                else
                    cssClasses.Add("midcol");

                int CellState = CellStates[i];

                string imgUrl = "/Tic-Tac-Toe/Blank120x120.png";
                string symbolColor = WinningCells.Contains(i) ? "Red" : string.Empty;
                
                if (CellState == 1)
                    imgUrl = $"/Tic-Tac-Toe/Cross{symbolColor}120x120.png";
                else if (CellState == 2)
                    imgUrl = $"/Tic-Tac-Toe/Circle{symbolColor}120x120.png";

                List<string> contentCssClasses = new List<string>() { "gamecellcontent" };

                <div id="cell@(i)" class="@(string.Join(" ", cssClasses))">
                    <img class="@(string.Join(" ", contentCssClasses))" src="@imgUrl" @onclick="e => imgOnClick(e, i)" />
                </div>
            }
        </div>
    }
</div>
<div>
    <HideableButton CssClass="btn btn-danger" Text="Reset" Hidden="@(gameStatus==null)" clickedEventCallback="resetButtonClicked" ></HideableButton>
</div>
<div>@gamefooter</div>
<br/>
@code {
    [Parameter]
    public string ID { get; set; }

    [Parameter]
    public int GridSize { get; set; }

    protected bool? debugMode = null;
    [Parameter]
    public bool? Debug
    {
        get
        {
            return debugMode;
        }
        set
        {
            debugMode = value;
        }
    }

    protected string InstanceId = string.Empty;
    protected TicTacToeGameStatus? gameStatus = null;
    protected string gameheader = string.Empty;
    protected string gamefooter = string.Empty;
    protected List<int> CellStates = new List<int>();
    protected List<int> WinningCells = new List<int>();

    protected void InitVariables()
    {
        InstanceId = DateTime.UtcNow.Ticks.ToString();
        gameStatus = null;
        gameheader = string.Empty;
        gamefooter = string.Empty;
        CellStates = new List<int>();
        WinningCells = new List<int>();

        gameheader = $"{(debugMode == true ? InstanceId : string.Empty)}";

        int arraySize = GridSize * GridSize;
        var array = new int[arraySize];
        CellStates.AddRange(array);
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        InitVariables();
    }

    public void imgOnClick(MouseEventArgs e, int cellIndex)
    {
        var CellState = CellStates[cellIndex];
        if (CellState == 0)
        {
            var cellstates = CellStates.ToList();
            cellstates[cellIndex] = 1;

            var request = new TicTacToeUpdateRequest()
                {
                    InstanceId = InstanceId,
                    GridSize = GridSize,
                    NumberOfPlayers = 1,
                    CellStates = cellstates
                };
            var response = tictactoesvc.UpdateTicTacToe(request);

            if (response == null)
            {
                gameheader = $"{(debugMode == true ? InstanceId + " " : string.Empty)}An unknown error has occurred";
            }
            else if (gameStatus == null || gameStatus == TicTacToeGameStatus.InProgress)
            {
                if (response.WinningCells != null)
                    WinningCells.AddRange(response.WinningCells);

                if (response.ComputerMove.HasValue && cellstates[response.ComputerMove.Value] == 0)
                {
                    cellstates[response.ComputerMove.Value] = 2;
                }

                CellStates = cellstates.ToList();

                gameStatus = response.Status;

                gamefooter = $"{(debugMode == true ? InstanceId + " " : string.Empty)}Status: {response.Status.ToDisplay()}";

                gameheader = response.PredictionScore.Length > 0 ? $"Predicted Result: {((TicTacToeGameStatus)(int)response.Prediction).ToDisplay()}\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0Confidence: {(response.PredictionScore[0] * 100f).ToString("F2")}%" : string.Empty;
            }

            StateHasChanged();
        }
    }

    protected void resetButtonClicked()
    {
        InitVariables();
        StateHasChanged();
    }
}
